@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8b5cf6;
    height: 50px;
    width: 5px;
    border-radius: 10px;
  }
}
